*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
:root {
  --maincolor: #009df4;
  --secpadding: 88px;
  --textmuted: #9d9d9d;
  --shadowcard: 0px 4px 8px 0px #00000008;
  --secshadowcard: 8px 8px 40px 0px #0000001a;
  --shadowcardmobile: 8px 8px 10px 0px #0000001a;
  --borderradius: 5px;
  --secbgcolor: white;
  --secgap: 18px;
  --secpadding-sm: 24px;
}

body {
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1128px;
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}
.img-cover {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.herobg {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 16 / 9;
  opacity: 0;
  transition: 0.3s opacity ease;
}
.img-cover.loaded,
.herobg.loaded {
  opacity: 1;
}

.property-image > .skeleton,
.project-image > .skeleton,
.hero-skeleton {
  position: absolute;
  z-index: 0;
  inset: 0;
  width: 100%;
  height: 100%;
  background: #e5e5e5;
  animation: pulse 1.2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: var(--secgap);
}
@media (max-width: 992px) {
  .cards-grid {
    grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
  }
}

@media (max-width: 668px) {
  .cards-grid {
    display: flex;
    overflow-x: auto;
    gap: var(--secgap);
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    padding: 0px 10px 20px;
  }
  .cards-grid > a,
  .cards-grid > article {
    flex: 0 0 60%;
    scroll-snap-align: start;
  }
}

@media (max-width: 460px) {
  .cards-grid > a,
  .cards-grid > article {
    flex: 0 0 85%;
  }
}
